@import '../../styles/variables.scss';

.row {
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #e9f5ff;
  }
}

.cell {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: $font-size-base;
  color: $text-color;

  &:hover {
    color: $primary-color;
  }
}

@media (max-width: $media-border) {
  .cell {
    padding: 10px 8px;
  }
}