@import '../../styles/variables.scss';

.tableContainer {
  max-width: $max-width;
  margin: $margin-base auto;
  padding: $margin-base;
  background-color: #f9f9f9;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: $primary-color;
    color: white;
    font-weight: 600;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e9f5ff;
  }

  td {
    border-bottom: 1px solid #ddd;
  }
}

th {
  position: sticky;
  top: $margin-base;
  z-index: 1;
}

td {
  font-size: $font-size-base;
  color: $text-color;
}

@media (max-width: $media-border) {
  .filterInputs {
    flex-direction: column;
  }

  th, td {
    padding: 10px 8px;
  }

  .email, .phone {
    display: none;
  }

  td {
    display: block;
    text-align: right;

    &::before {
      content: attr(data-label);
      display: block;
      font-weight: bold;
      color: $primary-color;
      text-transform: uppercase;
    }
  }
}