@import '../../../styles/variables.scss';

.row {
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #e9f5ff;
  }
}

.name, .username, .email, .phone {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: $font-size-base;
  color: $text-color;
}

.email, .phone {
  @media (max-width: $media-border) {
    display: none;
  }
}

.name, .username {
  @media (max-width: $media-border) {
    display: table-cell;
  }
}

@media (max-width: $media-border) {
  .name, .username {
    padding: 10px 8px;
  }
}